.card {
            width: 250px;
            border: 2px solid gray;
            border-radius: 10px;
            padding: 15px;
            margin-top: 30px;
        }

        .card h3 {
            font-weight: bold;
        }

        .card p {
            text-align: justify;
        }
