.main{
  width: 400px; ; 
  height: 500px; ; 
  border:2px solid black ;
}
.main src{
    float:left;
    width: 200px; 
    height: 300px; 
}
.main p{
  color: rgb(7, 121, 3);
}
.p::after{
  content:"★";
;
}
.p::before{
  content:"★";

}
a:link{
  color: brown;
}


a:visited{
  color: blue;
}


a:hover{
  color: green;
}
