.css{
width: 300px;
            border: 3px solid black;
            padding: 20px;
            margin: 30px;
            background-color: lightblue;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 20px;
}
