.box{
    background-color:rgb(145, 255, 141) ;
    color: rgb(174, 0, 255);
    width: 50px;
    height: 30px;
    padding: 40px 53px 97px 55px ;     
    border:10px rgb(208, 173, 253) inset;
    border-style: insel;
    margin: 200px;
}

.moon{
    background-color:rgba(245, 43, 8, 0.795) ;
    color: rgba(195, 12, 219, 0.445);
    width: 50px;
    height: 30px;
    padding: 40px 53px 97px 55px ;     
    border:10px rgb(173, 253, 226) inset;
    border-style: insel;
    margin: 200px;
}
